<section class="container ps-5" id="cursos">
  <h2 class="text-center">Mis Proyectos</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img
          src="{{ url_for('static', filename='img/gustavo1.png') }}"
          class="d-block mx-lg-auto img-fluid"
          alt="Imagen del Proyecto"
        />
        <div class="card-body">
          <h5 class="card-title">
            Sistema no invasivo para el monitoreo de la concentración de glucosa
            en sangre
          </h5>
          <p class="card-text">
            Esta innovación permite la detección de glucosa en sangre, lo que
            permite identificar la concentración de glucosa en sangre y la
            posibilidad de realizar un diagnóstico médico.
          </p>
          <a
            href="https://www.youtube.com/watch?v=7_kHip9zsew&ab_channel=MILENIO"
            class="nav-link text-primary"
            >Link aquí</a
          >
        </div>
      </div>
    </div>

    <div class="col">
      <!-- Agregada la clase "col" -->
      <div class="card">
        <img
          src="{{ url_for('static', filename='img/imagenDefault.png') }}"
          class="d-block mx-lg-auto img-fluid"
          alt="Imagen del Proyecto"
        />
        <div class="card-body">
          <h5 class="card-title">Otro Proyecto</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
            repudiandae atque, illum fuga numquam dolores ipsum consectetur
            reprehenderit enim nobis voluptate iure mollitia corrupti velit nemo
            architecto aspernatur, ratione reiciendis, consequatur fugit.
            Assumenda explicabo libero at sint dolore? Facere tempora minus vero
            quidem sapiente laboriosam praesentium dolorum nihil, voluptates
            aliquam!
          </p>
          <a href="" class="nav-link text-primary">Link aquí</a>
        </div>
      </div>
    </div>
  </div>
</section>
