<section class="bg-light" id="home">
    <div class="container col-xxl-8 py-5">
        <div class="row gx-5 align-items-center g-5 py-5">
            <div class="col-12 col-md-6">
                <img src="{{ url_for('static', filename='img/Gustavo.jpg') }}" alt="logo" class="img-fluid"
                    style="max-height: 600px; object-fit: cover; width: 100%; border-radius: 8px;" loading="lazy" />
            </div>
            <div class="col-md-6">
                <h2 class="display-4">Hola soy Gustavo Alonso Silverio</h2>
                <p class="lead fs-3">Ingeniero en Comunicaciones y Electrónica</p>
                <hr class="my-4" />
                <p class="fs-5" style="align-items: justify;">
                    Miembro del Sistema Nacional de Investigadores nivel 1 de 2014 a la fecha. Coordinador de la
                    Maestría en Ingeniería para la Innovación y el Desarrollo Tecnológico (2018-2020). Trabajo en la
                    línea de investigación 'Sistemas inteligentes y desarrollo tecnológico'. Coautor de 4 solicitudes de
                    patente. Co-inventor de un prototipo de glucómetro no invasivo. Experiencia en el desarrollo de
                    instrumentación inteligente para el diagnóstico precoz de enfermedades crónico-degenerativas.
                </p>

                <a class="btn btn-primary btn-lg mt-4" href="#" role="button">Contáctame</a>
            </div>
        </div>
    </div>
</section>